### https://raw.github.com/github/gitignore/785fcb765a09e0800b9133e64a79fe60c6a205ab/GitBook.gitignore

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# for Mac
.DS_Store
